* {
    font-family: 'Arvo', serif;
}

h2 {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

#wrapper {
    padding-left: 3%;
    padding-right: 3%;
  }

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}



