* {
    font-family: 'Cabin', sans-serif;
}

.wrapper {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 30vh;
    opacity: 0.6;
    }
    
.heading_wrapper {
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.666);
    color: rgb(20, 121, 151);
    border: black solid 10px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    margin-top: 25%;
    margin-bottom: 25%;
    }; 

h3 {
    margin-bottom: 5vh;
    color: rgb(20, 121, 151);
    text-align: left;
}


#services {
    width: 80%;
    border-radius: 15px;
    border: #0B0C10 1px solid;
    box-shadow: 0.75em 0.5em 0.5em #1F2833;
    margin: 2vh auto;
    margin-bottom: 6vh;
}

h2 {
    width: 80%;
    color: #bdc011;
    padding: 2px;
    margin: auto;
    margin-bottom: 5vh;
    font-weight: bolder;
    word-spacing: 0.5rem;
    text-shadow: darkblue;
    padding-bottom: 5%;
    padding-top: 20%;
    letter-spacing: 5px;
    text-shadow: 2px 2px blue;
}

.servicesContainer{
    width: 80%;
}

.services > img {
    border-radius: 50%;
    width: 150px;
    height: 110px;
    object-fit: cover;
    object-position: top;
}

.services:nth-of-type(2){
    justify-items: end;
}

.serviceName {
    font-weight: bolder;
    font-style: normal;
}

.serviceDescription {
    font-weight: 300;
    font-style: italic;
}

.navSpace {
    padding-top: 4em;
}

.border-bottom {
   border-color: black;
}

/* MQ */
@media screen and (max-width: 776px){
    h1{
        width: 90%;
    }
}


@media screen (max-width: 576px) {
        .wrapper {
            height: 0vh;
            width: 0vw;
        }
}
    
    
@media screen and (min-width: 576px) and (max-width: 768px) {
        .wrapper {
            height: 40vh;
            width: 80vw;
            padding-left: 20%;
        }

        .heading_wrapper {
            height: 60vh;
            width: 60vw;
        }
}
    
@media screen and (min-width: 769px) and (max-width: 1024px) {
        .wrapper {
            height: 40vh;
            width: 60vw;
            padding-left: 35%;
        }

        .heading_wrapper {
            height: 60vh;
            width: 150vw;
    }
}


