<div class="wrapper py-5 my-5">
    <div class="heading_wrapper">
        <h1>{{homeHeading}}</h1>
        <p>{{homeDescription}}</p>
    </div>
</div>

<div id="services" class="p-4">
    <h2 class="text-center navSpace mb-5">What We Offer</h2>
<div class="servicesContainer d-flex flex-column m-auto">
    <!-- contains all services -->
    <div class="services d-flex flex-column flex-sm-row justify-content-around m-2 p-3 border-bottom">
        <img src="./assets/img/airplane.jpeg" class="d-block" alt="...">
        <div class="mx-3">
            <div class="serviceName">Flights</div>
            <div class="serviceDescription">Compare flight rates and pick the flight arrangements most convinent for you!</div>
        </div>
    </div>
    <div class="services d-flex flex-column flex-sm-row justify-content-around m-2 p-3 border-bottom">
        <img src="./assets/img/sos.jpeg" class="d-block order-1 order-sm-2" alt="...">
        <div class="mx-3 order-2 order-sm-1">
            <div class="serviceName">Travel Insurance</div>
            <div class="serviceDescription">Sick kids? Boss changed his mind? Broke your foot on an adventure? Whatever it is, with our travel insurance you are flexible for whatever live throws at you!</div>
        </div>
    </div>

    <div class="services d-flex flex-column flex-sm-row justify-content-around m-2 p-3 border-bottom">
        <img src=".\assets/img/hotel.jpeg" class="d-block" alt="...">
        <div class="mx-3">
            <div class="serviceName">Accomodation</div>
            <div class="serviceDescription">Browse over 500 of personally reviewed hotels, lodges and appartments to find the one that fits YOUR needs!</div>
        </div>
        </div>
    </div>



