h2 {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
  }
  
  .card-title {
    text-align: center;
  }
  
  .card-text {
    text-align: center;
  }
  
  .btn_wrapper {
    text-align: center;
  }

  img{
    min-height: 10vh;
    height: 30vh;
    object-fit: cover;
 }
